* {

	-fx-primary-color: #68c4c3;
    -fx-secondary-color: #f0eaec;
    -fx-accent-color: #4a333e;
    -fx-addictional-color: #715b92;
	-fx-google-color: #FF3B00;
	-fx-font-size: 14px;
	
}
.content {
	-fx-background-color: -fx-secondary-color;
}

.content .combo-box .list-cell {
  -fx-text-fill: -fx-text-inner-color; /* texto na lista do combobox */
}
.content .combo-box {
  -jfx-unfocus-color: -fx-secondary-color; /* cor da borda inferior ao clicar (un focus) */
  -fx-text-fill: -fx-accent-color; /*cor da escrita */
  -jfx-unfocus-color: -fx-primary-color; /* cor da borda inferior */
  /*-fx-prompt-text-fill: -fx-primary-color;*/ /* cor do prompt  */
  -jfx-focus-color: -fx-addictional-color; /* cor do prompt text ao subir no text field */
}
.secondary-content .sec-combo-box .list-cell {
  -fx-text-fill: -fx-text-inner-color; /* texto na lista do combobox */
}
.secondary-content .sec-combo-box {
  -jfx-unfocus-color: -fx-secondary-color; /* cor da borda inferior ao clicar (un focus) */
  /*-fx-text-fill: red; testei e não é, deletar *//*cor da escrita */
  -jfx-unfocus-color:-fx-secondary-color; /* cor da borda inferior */
  /*-fx-prompt-text-fill: -fx-primary-color;*/ /* cor do prompt  */
  -jfx-focus-color: -fx-accent-color; /* cor do prompt text ao subir no text field */
}

.content .cont-main-button {
	-fx-background-color: -fx-accent-color;
	-fx-text-fill: -fx-primary-color; 
	-fx-font-weight: BOLD;
}
.content .cont-addictional-button {
  -fx-background-color: -fx-addictional-color;
  -fx-text-fill: -fx-primary-color;
  -fx-font-weight: BOLD;
}

.secondary-content {
	-fx-background-color: -fx-primary-color;
}
.secondary-content .title{
        -fx-font: normal bold 22px 'serif';
        -fx-text-fill: -fx-addictional-color;
}
.secondary-content .subtitle{
        -fx-font: normal bold 18px 'serif';
        -fx-text-fill: -fx-addictional-color;
}
.secondary-content .sec-text-color {
	-fx-text-fill: -fx-addictional-color;
}
.secondary-content .sec-main-buttons{
  -fx-background-color: -fx-addictional-color;
  -fx-text-fill: -fx-secondary-color;
  -fx-font-weight: BOLD;
}
.secondary-content .sec-addictional-buttons{
  -fx-background-color: -fx-accent-color;
  -fx-text-fill: -fx-primary-color; 
  -fx-font-weight: BOLD;
}

.label{
    -fx-text-fill: -fx-accent-color;
}
.pane-grid {
    -fx-background-color: -fx-primary-color;
    background-color: -fx-primary-color;
}

.tab-pane-grid {
    -fx-background-color: -fx-primary-color;
    background-color: -fx-primary-color;
    -fx-background-insets: 3 0 0 0;
}

/* TableView */
.table-view{
    -fx-border-width: 1;
    border-width: 1;
    -fx-border-radius: 0;
    border-radius: 0;
    -fx-border-color: -fx-primary-color;
    border-color: -fx-primary-color;
    -fx-background-radius: 0;
    -fx-background-color: -fx-secondary-color; /* fundo */
    background-color: -fx-secondary-color;
    -fx-table-cell-border-color: -fx-primary-color; /* linhas verticais */
}
.table-view:focused{
    -fx-border-width: 1;
    border-width: 1;
    -fx-border-radius: 0;
    border-radius: 0;
    -fx-border-color: -fx-primary-color; /* borda ao clicar */
    border-color: -fx-primary-color;
    -fx-background-insets: 1;
    -fx-background-radius: 0;
    -fx-background-color: -fx-secondary-color;
    background-color: -fx-secondary-color;
}
.table-view .column-header-background{
    -fx-border-width: 0 0 1 0;
    border-width: 0 0 1 0;
    -fx-border-color: -fx-primary-color; /* borda inferiro da coluna */
    border-color: -fx-primary-color;
    -fx-background-radius: 0;
    -fx-background-color: -fx-secondary-color; /* fundo da coluna */
    background-color: -fx-secondary-color;
    -fx-text-fill: -fx-addictional-color;
}
.table-view .column-header {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-border-color: -fx-primary-color;
    border-color: -fx-primary-color;
}
.table-view .column-resize-line {
    -fx-background-color: -fx-secondary-color;
    background-color: -fx-secondary-color;
    -fx-pref-width: 1;
}
.table-row-cell{
    -fx-background-color: -fx-secondary-color;
    background-color: -fx-secondary-color;
    -fx-text-background-color: #AFB1B3;
    -fx-margin: 1;
    margin: 1;
}
.table-row-cell:hover {
    -fx-background-color: -fx-addictional-color;
    background-color: -fx-primary-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.table-row-cell:selected {
    -fx-table-cell-border-color: -fx-accent-color;
    -fx-background-color: -fx-addictional-color;
    background-color: -fx-addictional-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.table-row-cell:pressed {
    -fx-background-color: -fx-primary-color; /* cor ao pressionar */
    background-color: -fx-primary-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.table-view .column-header .label {
    -fx-cursor: HAND;
    cursor: HAND;
}
.table-view .filler {
    -fx-background-color: transparent;
    background-color: transparent;
}
.table-view .column-drag-header{
    -fx-background-color: -fx-primary-color;
    background-color: -fx-primary-color;
}
.icon-dark {
	-fx-font-size: 20px;
	-fx-fill: -fx-addictional-color; /*cor do ícone */
}
.nav-buttons {
	-fx-background-color: transparent;
}

.login #pLogin{
	-fx-background-color: -fx-addictional-color;
}
.login #lblSignIn {
  -fx-text-fill: -fx-secondary-color;
  -fx-font-weight: BOLD;
}

.login #lblSignInEmail {
  -fx-text-fill: -fx-secondary-color;
}

.login #lblSignInPassword {
  -fx-text-fill: -fx-secondary-color;
}

.login #btnSignIn {
  -fx-background-color: -fx-secondary-color;
  -fx-text-fill: -fx-accent-color;
}

.login #lblSignUp {
  -fx-text-fill: -fx-accent-color;
  -fx-font-weight: BOLD;
}

.login #lblSignUpEmail {
  -fx-text-fill: -fx-accent-color;
}

.login #lblSignUpPassword {
  -fx-text-fill: -fx-accent-color;
}

.login #btnSignUp {
  -fx-background-color: -fx-accent-color;
  -fx-text-fill: -fx-secondary-color;
}

.login #btnSignUpGoogle {
  -fx-background-color: -fx-google-color;
  -fx-text-fill: -fx-secondary-color;
  
}
.login #lbl-google{
	-fx-text-fill: -fx-primary-color;
}
.login #icon-google {
	-fx-fill: -fx-secondary-color;
	-fx-font-size: 1.5em;
}

.scroll-bar .decrement-arrow {
    -fx-padding:1;
 }
.scroll-bar .increment-arrow {
    -fx-padding:1;
}

.icons {
    -fx-font-family: "FontAwesome";
    -fx-font-size: 15px;
    -fx-transition: -fx-font-size 0.3s ease;
}

.icon-button {
    -fx-background-color: transparent;  /* Remove button background */
    -fx-border-color: transparent;      /* Remove button border */
    -fx-padding: 5px;                    /* Reduce padding */
}

.icon-button .icons {
    -fx-font-size: 18px;                 /* Default icon size */
    -fx-transition: -fx-font-size 0.3s ease;  /* Smooth transition */
}

.icon-button:hover .icons {
    -fx-font-size: 24px;                 /* Enlarge icon on hover */
}

.icon-button:pressed .icons {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}

.icons:hover {
    -fx-font-size: 24px; /* Novo tamanho ao passar o mouse ou focar */
    -fx-fill: -fx-addictional-color; /* Cor ao passar o mouse ou focar */
   
}
.icons:pressed {
    -fx-font-size: 28px; /* Novo tamanho ao clicar */
    -fx-fill: -fx-addictional-color; /* Cor ao clicar, se desejar */
}

.text-field-subpurpose {
    -fx-padding: 0 5px 0 5px; /* Padding */
    -fx-pref-height: 30px;   /* Preferred height */
    -fx-pref-width: 200px;   /* Preferred width */
    /* Add any other styles as needed */
}

.tf-demands {
    -fx-padding: 5px; /* Top/Bottom 0px, Left/Right 20px padding */
}

/* Largura do scrool no template */
/* Style for vertical scrollbar thumb */
.scroll-pane .scroll-bar:vertical {
    -fx-pref-width: 15px;   
}
